.galeria{
    position: relative;
    left: 15rem;
    top: 6rem;
    width: 10rem;
    background-color: transparent;
}

.op1{
    position: relative;
    bottom: 40rem;
    left: 3.5rem;
}

.op2{
    position: relative;
    bottom: 63.5rem;
    left: 32rem;
}

.op3{
    position: relative;
    bottom: 67rem;
    left: 61rem;
}

.op4{
    position: relative;
    left: 3.5rem;
    bottom: 39rem;
}

.op5{
    position: relative;
    left: 32.5rem;
    bottom: 42.5rem;
}

.op6{
    position: relative;
    left: 61rem;
    bottom: 46rem;
}

